<div 
    class="dropzone"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    [class.is-hovering]="isDragging"
>

    <i class="fas fa-cloud-upload-alt"></i>
    <p>Arrastrá y soltá el archivo PDF/EPUB acá</p>

    <input type="file" multiple
        (change)="onFileSelected($event)"
        accept=".pdf, .epub"
        style="display: none;" #fileInput>

    <button class="btn-upload" (click)="fileInput.click()">
        O seleccioná el archivo
    </button>

    <div *ngIf="uploadStatus" class="status-message">
        {{ uploadStatus }}
    </div>
</div>