<header id="navbar">
    <nav>
        <button class="menu-toggle" aria-label="Menu" (click)="isMenuOpen = !isMenuOpen">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu"><path d="M4 12h16"/><path d="M4 18h16"/><path d="M4 6h16"/></svg>
        </button>

        <ul class="nav-links left" [class.open]="isMenuOpen">
            <li><a href="">Home</a></li>
            <li><a href="">Explore</a></li>
            <li><a href="">Library</a></li>
        </ul>
        
        <ul class="nav-links rigth" [class.open]="isMenuOpen">
            <li><a href="">Settings</a></li>
            <li><a href="">Profile</a></li>
        </ul>
    </nav>
</header>