<nav class="navbar">
    <div class="left">
        <h1>Titulo no se</h1>
    </div>

    <div class="rigth">
        <button routerLink="/library" class="menu-toggle" aria-label="Menu" (click)="isMenuOpen = !isMenuOpen">
            Mi biblioteca
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu"><path d="M4 12h16"/><path d="M4 18h16"/><path d="M4 6h16"/></svg>
        </button>
        
        <button routerLink="/profile">
            Perfil
        </button>

        <button (click)="logout()">
            Salir
        </button>
        
    </div>
</nav>