form {
    display: flex;
    flex-direction: column;
    
    label {
        display: block;
        text-align: left;
        font-size: 0.9rem;
        color: #444;
        margin-top: 1rem;
    }   
    input {
        width: 100%;
        padding: 0.7rem;
        margin-top: 0.3rem;
        border: 1px solid #ccc;
        font-size: 1rem;
    }

    button {
        margin-top: 1.5rem;
        width: 100%;
        padding: 0.8rem;
        background: #4a6cf7;
        color: white;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        font-weight: 600;
        transition: 0.2s;
        &:hover {
            background: #3959d7;
        }
        &:disabled {
            background: #aaa;
            cursor: not-allowed;
        }
    }
}