$primary-color: #5c67f2;
$background-color: #f0f2f5;
$sencond-background-color: #f8f9fa;
$text-color: #333;
$paper-color: #ffffff;
$border-color: #e0e0e0;
$border-default: #ccc;
$border-hover: $primary-color;
$dropzone-bg-color: #f5f7f9;
$shadow-color: rgba(0, 0, 0, 0.1);

$home-nav-height: 60px;

$home-sidebar-width: 260px;
$sidebar-width: 320px;